/* Set global custom variables */

:root{
	/* Branding Colors */
	/* Note: Several elements have fallback colors defined in the case of no var() support. Search string "Compatibility" */
	--gbg-dark-purple-rgb: rgb(121, 72, 216);
	--gbg-background-light-purple-rgb: rgb(246, 239, 247);
	--gbg-background-light-purple-rgba-85pct: rgba(246, 239, 247, 85%);
	--dark-grey-text-rgb: rgb(48, 46, 51);
};

/* Set size of body and base font */

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: "Arial";
	margin: 0%;
	width: 100vw;
	font-size: calc(8px + 0.5vw);
	background-color: rgb(246, 239, 247); /* IE Compatibility (can't use var) */
	background-color: var(--gbg-background-light-purple-rgb);
}

.hidden-header{
	position: absolute;
	left: -10000px;
}

/*Set and Format Header Navbar*/

body header{
	width: 100%;
	height: 15vh;
	background-color: rgb(121, 72, 216); /* IE Compatibility (Can't use var) */
	background-color: var(--gbg-dark-purple-rgb);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: left;
}

body header nav{
	display: inline-block;
	width: 100%;
	display: inline-flex;
	justify-content: left;
	align-items: center;
}

body header nav a{
	box-sizing: border-box;
	padding: 1% 0%;
	width: 15%;
	display: inline-block;
	text-align: center;
	overflow: visible;
	font-weight: 800;
	font-size: 100%;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	vertical-align: middle;
	opacity: 70%;
} 

body header nav a:first-child{
	margin-left: 5%;
}

body header nav a.current-page{
	opacity: 100%;
}

body header nav a img{
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 0;
}

body header nav a:active{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

/* Styling the Cover Photo on Index Page */
body main aside{
	background: rgb(246, 239, 247) url(../images/iphone-and-laptop-darkened.jpg) no-repeat; /* Ancient IE Compatibility (can't use var) */;
	background: var(--gbg-background-light-purple-rgb) url(../images/iphone-and-laptop-darkened.jpg) no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 85vh;
	float:left;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

body main aside div{
	background-color: rgb(246, 239, 247) /* Truly ancient IE/Edge Compatibility (can't use var) */;
	background-color: var(--gbg-background-light-purple-rgba-85pct);
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	width: 50%;
}

body main aside div h2{
	font-size: calc(300% + 0.5vw);
	color: rgb(121, 72, 216); /* IE Compatibility (Can't use var) */
	color: var(--gbg-dark-purple-rgb);
	margin-top: 5%;
	margin-bottom: 2%;
}

body main aside div p{
	font-size: calc(100% + 0.5vw);
	color: rgb(48, 46, 51); /* IE Compatibility (Can't use var) */
	color: var(--dark-grey-text-rgb);
	margin-bottom: 2.5%;
}

body main aside div p:last-child{
	margin-bottom: 5%;
}

/* Formatting a textLeft card */

body main div.card{
	height: 60vh;
	width: 80%;
	margin: 0% 10%;
	display: inline-block;
}

body main div.card div.cardTextLeft{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	width: 50%;
}

body main div.card div.cardTextLeft div.cardTextContainer h2{
	margin-bottom: 2.5%;
	font-size: calc(200% + 0.5vw);
	color: rgb(121, 72, 216); /* IE Compatibility (Can't use var) */
	color: var(--gbg-dark-purple-rgb);
}

body main div.card div.cardTextLeft div.cardTextContainer p{
	font-size: calc(80% + 0.5vw);
	color: rgb(48, 46, 51); /*IE Compatibility (Can't use var) */
	color: var(--dark-grey-text-rgb);
}

body main div.card div.cardImageRight{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	width: 50%;
}

body main div.card div.cardImageRight img{
	height: 95%;
}

@media only screen and (max-width: 768px) {
	p{
		font-size: calc(300% + 0.5vw);
	}
	body header nav a{
		width: 20%;
		margin: 1%;
		padding: 0;
		font-size: 150%;
	}
	body main aside{
		background-size: auto 100%;
	}
	body main aside div p{
		font-size: calc(150% + 0.5vw);
	}
	body main div.card div.cardTextLeft div.cardTextContainer h2{
		font-size: calc(300% + 0.5vw);
	}
	body main div.card div.cardTextLeft div.cardTextContainer p{
		font-size: calc(150% + 0.5vw);
	}
	body main div.card div.cardImageRight img{
		width: 90%;
		height: auto;
	}
}

@media only screen and (max-width: 600px) {
	p{
		font-size: calc(300% + 0.5vw);
	}
	body header{
		height: 10vh;
	}
	body header nav a{
		width: 20%;
		margin: 1%;
		padding: 0;
		font-size: 110%;
	}
	body main aside{
		height: 45vh;
	}
	body main aside div{
		width: 80%;
	}
	body main aside div p{
		font-size: calc(150% + 0.5vw);
	}
	body main div.card{
		height: 45vh;
	}
	body main div.card div.cardTextLeft div.cardTextContainer h2{
		font-size: calc(300% + 0.5vw);
	}
	body main div.card div.cardTextLeft div.cardTextContainer p{
		font-size: calc(150% + 0.5vw);
	}
	body main div.card div.cardImageRight img{
		width: 90%;
		height: auto;
	}
}